@font-face {
  font-family: 'Stolzl';

  src: url('../fonts/font/Stolzl-Light.eot') format('embedded-opentype');
  src: url('../fonts/font/Stolzl-Light.woff2') format('woff2');
  src: url('../fonts/font/Stolzl-Light.woff') format('woff');
  src: url('../fonts/font/Stolzl-Light.ttf') format('truetype');
  
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';

  src: url('../fonts/font/Stolzl-Thin.eot') format('embedded-opentype');
  src: url('../fonts/font/Stolzl-Thin.woff2') format('woff2');
  src: url('../fonts/font/Stolzl-Thin.woff') format('woff');
  src: url('../fonts/font/Stolzl-Thin.ttf') format('truetype');

  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl Book';

  src: url('../fonts/font/Stolzl-Book.eot') format('embedded-opentype');
  src: url('../fonts/font/Stolzl-Book.woff2') format('woff2');
  src: url('../fonts/font/Stolzl-Book.woff') format('woff');
  src: url('../fonts/font/Stolzl-Book.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';

  src: url('../fonts/font/Stolzl-Regular.eot') format('embedded-opentype');
  src: url('../fonts/font/Stolzl-Regular.woff2') format('woff2');
  src: url('../fonts/font/Stolzl-Regular.woff') format('woff');
  src: url('../fonts/font/Stolzl-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';

  src: url('../fonts/font/Stolzl-Bold.eot') format('embedded-opentype');
  src: url('../fonts/font/Stolzl-Bold.woff2') format('woff2');
  src: url('../fonts/font/Stolzl-Bold.woff') format('woff');
  src: url('../fonts/font/Stolzl-Bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';

  src: url('../fonts/font/Stolzl-Medium.eot') format('embedded-opentype');
  src: url('../fonts/font/Stolzl-Medium.woff2') format('woff2');
  src: url('../fonts/font/Stolzl-Medium.woff') format('woff');
  src: url('../fonts/font/Stolzl-Medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
}

