.sprite {
  display: none;
}
a {
  cursor: pointer;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, p { 
  margin: 0;
  padding: 0; 
}
html {
  font-size: 10px;
}
body {
  font-family: $Stolzl;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
